.text-center {
  text-align: center;
}

.font-bold {
  font-weight: bold;
}

.mb-4 {
  margin-bottom: 1rem;
}

input:focus {
  outline: none;
  border-color: #ff5722;
  box-shadow: 0 0 8px rgba(255, 87, 34, 0.5);
}

button:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
.google{
  background-color: white !important;
  color: #ff5722 !important;

}
.submit{
  color:aliceblue;
  text-decoration: none;
}